data/
epic_data/
pretrained/
temp_clips/

*.npy
*.faiss
*.pth
*.pt
*.bin
*.safetensors
*.pkl

__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env
.venv/
LaViLa/
epic-kitchens-download-scripts/
colab_upload/
